.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar{
    // background-color: lightslategray;
    // color: white;
    height: 50px;
    padding: 1.8rem 1em;
}

.main{
    background-color: lightgray;
    height: calc(100vh - 50px);
    padding: 1rem;
}