$bg: #a1cbf5;
$samllgap: 0.5rem;

h1,
h2 {
  font-family: Lato;
}

ul li {
  cursor: pointer;
}

.mainMenu div {
  margin: $samllgap;
  cursor: pointer;
}

.signPad {
  background-color: $bg;
}

.section {
  display: flex;
  flex-direction: column;
}
